
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">  <!--caracteres especiales-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--descripcion de tamaño de la pantalla, que sea del mismo tamaño de la pantalla-->
    <meta name = "--descripcion" content="primera página"> <!--descripcion de la pagina-->
    <meta name = "robots" content="index, follow"> <!--permitir que los bots muestren la página-->
    <link rel="stylesheet" href="/stylesheets/style.css"> <!--estio de la p´+agina con css-->>
    
</head>
<body style="background-color:rgb(0, 0, 0);">    
    <br><br>
    <div><a href="/user/recomendation"><button class="button" style="background-color:red;width:485px;height:50px;" >Amistades Recomendadas</button></a>&nbsp;<a href="/user/friends"><button class="button" style="background-color:red; width:485px;height:50px; ">Amigos</button></a>&nbsp;<a href="/user/logout"><button class="button" style="background-color:red;width:485px;height:50px;">Salir </button></a><div>
    <br>
    <table id="tablestyle">
      <caption class="big-font">Personas Recomendadas Para TI</caption>
      <tr>
        <th class="big-font">foto</th>
        <th class="big-font">usuario</th>
        <th class="big-font">nombre</th>
      </tr>
        <tr th:each="role: ${listRoles}">
          <td>
            <img th:src="@{/media/icon.jpg}" witdh="30px" height="30px" alt="picture" class="profile">
          </td>
          <td th:text="${role.username}" class="big-font">
            <td  class="big-font" th:text="${role.name}"></td>
            <td>
              <a th:href="@{addrecomend/} + ${role.username}"> <!-- Aceptar solicitud -->
                <img src="/media/aceptar.png" witdh="30px" height="30px" alt="aceptar">
              </a>
            </td>
            <td>
              <a th:href="@{deleterecomend/} + ${role.username}"> <!-- eliminar Persona-->
                <img src="/media/eliminar.png" witdh="30px" height="30px" alt="eliminar">
              </a>
          </td>
        </tr>
    </table>
</body>
</html>
